.profile__info {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 767.98px) {
    .profile__info {
        margin-right: 0;
        align-items: center;
    }
}