.popup__input-error {
    position: absolute;
    top: 100%;
    display: none;
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FF0000;
}
