.popup__close-button {
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    top: calc(-32px - 8px);
    right: calc(-32px - 8px);
}

.popup__close-button::before {
    position: absolute;
    top: -3px;
    content: '';
    height: 35px;
    background-color: #fff;
    border: 2px solid #fff;
    transform: rotate(45deg);
}

.popup__close-button::after {
    position: absolute;
    top: -3px;
    content: '';
    height: 35px;
    background-color: #fff;
    border: 2px solid #fff;
    transform: rotate(-45deg);
}

@media screen and (max-width: 661.98px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: calc(-20px - 16px);
        right: 0;
    }

    .popup__close-button::before, .popup__close-button::after {
        height: 23px;
        border-width: 1px;
    }
}