.header__elements {
    display: flex;
    align-items: flex-end;
    margin-bottom: 46px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}