.popup__title_type_register-check {
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 661.98px) {
    .popup__title_type_form {
        margin-bottom: 72px;
        font-size: 18px;
    }
}
