.header {
    width: 100%;
    min-height: 74px;
    border-bottom: 1px solid rgba(54, 54, 54, .7);
    margin-top: 45px;
}

@media screen and (max-width: 767.98px) {
    .header {
        min-height: 56px;
        margin-top: 28px;
    }
}
